html, body {
  background: #222;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

h2 {
  margin: 0;
  font-size: 100px;
}

#screens {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.screen {
  background: #6bb0e9;
  width: 250px;
  border-radius: 6px;
  color: #FFF5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.screen span {
  position: absolute;
  top: 10px;
  left: 10px;
}

.screen:hover {
  background: #59a7e7;
}

.screen.focus {
  background: #e96b6b;
}

.screen.focus:hover {
  background: #e75959;
}

#add {
  background: #333;
  color: #0002;
}

#add:hover {
  background: #363636;
}